@import "./stiles-main.css";
@import "./respocivnes.css";




.pipe1 {
  width: 30rem;
  height: 30rem;
  position: relative;
  top: 5rem;
  left: 20rem;
  margin: 0 auto; /* Center the container */
  background-color: aqua;
}

