.section-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.experience-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.imm{
    width: 32vw;
    border-radius: 3rem;
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    
}

.grid-card{
    border: 2px solid black;
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.grid-card:hover{
    transition: scale(1.02);
    background-color: black;
    color: white;
}

.grid-card i{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.grid-card span{
    font-size: 1.5rem;
    font-weight: 500;
    background: linear-gradient(to right, blue, red,yellow);
    background-clip: text;
    color: transparent;

}

