::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, blue, red,yellow);
}