
@import "./3Dwork.css";
@import "./about.css";
@import "./project.css";
@import "./experience.css";
@import "./scroller.css";
@import "./project.css";
@import "./contact.css";
@import "./footer.css";
@import "./respocivnes.css";
@import "./marker.css";
@import "/css/brush.css";
@import "./3dpipe.css";


*,
*::before,
*::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}


header {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(8px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-links {
    display:flex;
    gap: 2rem;
}

li a {
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 200;
}

li a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 5px;
    left: 0;
    right: 5px;
    top: 17px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, blue, red,yellow);
}

li a:hover::before{
    width: 100%;

}

.visit-btn {
    padding: 0.8rem 0.7rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, blue, red,yellow);

}

.visit-btn:hover{
    transform: scale(1.03);
    background: linear-gradient(to right, yellow, red, blue);
}

#menu-icon {
    display: none;
    font-size: 2rem;
}












